//components
@import url('../header/header.css');
@import url('../sidebar/sidebar.css');
@import url('../sidebar/sidebar-updates-post/updates.css');
@import url('../postSection/postSection.css');
@import url('../postSection/Posts/posts.css');
// homeview
@import url('../homeView/home.css');


// awesome font - icons
//@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"); // awesome icons library
@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css" );
.container{
  
  
}

body{
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
}